<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    En este sitio podras contactar con agentes capacitados para realizar todo tipo de misiones.
  </p>
  {{#link-to 'contact' class="button"}}
    Contrata Ahora!
  {{/link-to}}
</div>

{{outlet}}
